@font-face {
  font-family: Oswald;
  src: url(Oswald.ttf);
}
@font-face {
  font-family: Anton;
  src: url(Anton.ttf);
}
@font-face {
  font-family: Vidaloka;
  src: url(Vidaloka.ttf);
}
@font-face {
  font-family: Courgette;
  src: url(Courgette.ttf);
}
@font-face {
  font-family: Bangers;
  src: url(Bangers.ttf);
}
@font-face {
  font-family: BlackOpsOne;
  src: url(BlackOpsOne.ttf);
}
@font-face {
  font-family: Sancreek;
  src: url(Sancreek.ttf);
}
@font-face {
  font-family: PirataOne;
  src: url(PirataOne.ttf);
}
@font-face {
  font-family: Rye;
  src: url(Rye.ttf);
}
@font-face {
  font-family: Maguntia;
  src: url(Maguntia.ttf);
}
@font-face {
  font-family: BlackOpsOne;
  src: url(BlackOpsOne.ttf);
}
