.Header {
  .header {
    background: teal;
    border-bottom: 7px solid white;
    font: 18px/1.5 BlackOpsOne;
    .menubar{
      display: grid;
      grid-template-columns: 27% auto 25%;
      align-items: center;
      .logo {
        font: 40px/1.5 BlackOpsOne;
        a {
          color: white;
        }
      }
      .search {
        display: grid;
        grid-template-columns: 15% auto 12%;
        input, select {
          padding: 5px;
        }
      }
      .logout{
        text-align: right;
        a {
          color: white;
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
  }
}