.Index {
  .main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    .content {
      position: relative;
      border-top: none;
      border-bottom: none;
      margin: 0 15px;
      .status {
        text-align: center;
        background: white;
        padding: 5px;
        border: 1px solid lightgrey;
      }
      .loadingImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .form {
      input, select, textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
      }
      input:last-child, textarea {
        margin-bottom:  0;
      }
      
    }
  }
}