.Index {
  .main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    .content {
      border: 7px solid rgb(179, 179, 179);
      border-top: none;
      border-bottom: none;
      margin: 0 15px;
      padding: 0 15px;
    }
  }
}