.Index {
  .main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    .content {
      position: relative;
      border-top: none;
      border-bottom: none;
      margin: 0 15px;
      .status {
        text-align: center;
        background: white;
        padding: 5px;
        border: 1px solid lightgrey;
      }
      .loadingImg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .form {
      input, select, textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
      }
      input:last-child, textarea {
        margin-bottom:  0;
      }
      
    }
  }

  .listing {
    margin-top: 30px;
    .paginate {
      text-align: center;
      background: rgb(187, 187, 187);
      padding: 10px 0 5px;
      margin-top: 10px;
      img:hover {
        opacity: .5;
        cursor: pointer;
      }
    }
    ul {
      display: grid;
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      grid-gap: 10px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        background: rgb(187, 187, 187);
        display: grid;
        grid-template-columns: 20% auto 20%;
        grid-gap: 10px;
        align-items: center;
        font-weight: 500;
        .edit {
          text-align: right;
          padding: 0 10px;
          img{
            float: none;
            width: 30%;
            margin: 0 5px;
            visibility: hidden;
          }
          img:hover {
            opacity: .7;
            cursor: pointer;
          }
        }
        img{
          width: 100%;
          float: left;
        }
      }
      li:hover {
        .edit {
          img {
            visibility: visible;
          }
        }
      }
    }
  }
}