.Job{
  .panel{
    position: relative;
    border-bottom: 10px solid white;
    img {
      width: 100%;
      float: left;
    }
    .loadingImg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 40%;
    grid-gap: 20px;
    .content, .sidebar {
      background: rgb(238, 238, 238);
      padding: 20px;
    }
    .content {
      .title {
        font: 20px/1.5 Oswald;
        margin-bottom: 20px;
      }
      .payable {
        font-weight: 700;
        .date {
          float: right;
        }
      }
      .ad {
        margin-top: 20px;
        img{
          width: 100%;
        }
      }

      .categories {
        color: orangered;
      }
      .bid {
        float: right;
        background: green;
        padding: 3px 15px 5px;
        border-radius: 3px;
        a {
          color: white;
          font-weight: 500;
        }
      }
    }
    .sidebar {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          border: 1px solid rgb(185, 185, 185);
          display: grid;
          grid-template-columns: 30% auto;
          align-items: center;
          grid-gap: 0px;
          font-weight: 500;
          margin-bottom: 10px;
          .thumbOuter {
            position: relative;
            .loadingImg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .content {
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .properties {
              color: black;
            }
          }
          .content:hover {
            opacity: .5;
          }
          img{
            width: 100%;
            float: left;
          }
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}

@media only screen and (min-width: 1920px) {
  .Job{
    .panel{
      height: 272px;
      img{
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Job {
    .main {
      grid-template-columns: 100%;
      margin: 15px;
      .content {
        .title {
          font: 18px/1.5 Oswald;
          margin-bottom: 20px;
        }
        .payable {
          .date {
            float: none;
            display: block;
          }
        }
        .wrapper {
          display: block;
          padding-bottom: 10px;
        }
        .bid {
          float: none;
        }
      }
    }
  }
}